@import './Carousel.css';


.Navbar{
    background-color:#ddbe9a;
}
.Navbar-Flex{
    display:flex;
    align-items: flex-start;
    justify-content: space-between;
    height:100px;
}

.Navbar-Menu{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.Brand-Image{
    max-height: 100px;
}

.Navbar-Menu li{
    width:150px;
    height:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    font-family: 'Viga', sans-serif;
    font-size: 18px;
    letter-spacing: 1.5px;
    color:white;
    cursor:pointer;
}

.Navbar-Menu li:hover{
    background-color:#795548;
}